<mat-card class="card" color="primary">
  <mat-card-header>
    <div mat-card-avatar>
      <img
        src="../assets/img/{{ getImg(data.estado) }}.png"
        width="50px"
        height="50px"
      />
    </div>
    <mat-card-title>{{ data.nombre }}</mat-card-title>
    <mat-card-subtitle style="color: gray"
      >Estado: {{ data.estado }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-actions align="end">
    <button
      mat-flat-button
      class="edit-button edit-margin"
      (click)="openSmallDialog(data)"
    >
      Editar
    </button>
    <button
      mat-flat-button
      color="warn"
      (click)="deleteItem(getIDofElement(data))"
    >
      Eliminar
    </button>
  </mat-card-actions>
</mat-card>
