<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar>
      <img
        src="../assets/img/{{ getImg(estado) }}.png"
        width="50px"
        height="50px"
      />
    </div>
    <mat-card-title>{{ nombre }}</mat-card-title>
    <mat-card-subtitle>Estado: {{ estado }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
    <button mat-flat-button class="edit-button">Editar</button>
    <button mat-flat-button color="warn">Eliminar</button>
  </mat-card-actions>
</mat-card>
